<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <tittle>
      Movies
    </tittle>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
  <footer>
    Email : 
    saradamaddipatla364@gmail.com, 
    vikasguptha99@gmail.com
  </footer>
</html>