<form method="POST">
<pre>
    <label>
        <a href="/api/movieform" target="_blank">Movie Details by page</a></br>
        <a href="/api/movies/:movie_id" target="_blank">Movie Details by ID</a></br>
    </label>
</pre>
</script>
</form>