<form method="POST" action="/">
<pre>
  </br><b>UserName : </b><input type="text" name="username" placeholder="Enter title" /></br>
  <b>Password : </b><input type="text" name="password" placeholder="Enter Page No" /></br>
  <input type="submit" value="Login"/></br>
  <a href="/register" target="_blank">New User? Register</a></br>
</pre>
</form>
