<form method="POST" action="/api/movieform">
<pre>
  </br><b>Title : </b><input type="text" name="title" placeholder="Enter title" /></br>
  <b>Page No : </b><input type="text" name="pageno" placeholder="Enter Page No" /></br>
  <b>Page Size : </b><input type="text" name="pagesize" placeholder="Enter Page Size" /></br>
  <input type="submit" />
</pre>
</form>