<form method="POST" action="/register">
<pre>
  </br>UserName : <input type="text" name="reg_username" placeholder="Enter UserName" /></br>
  Password : <input type="text" name="reg_password" placeholder="Enter Password" /></br>
  <input type="submit" value="Register"/>
</pre>
</form>