tittle{
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    background-color: cadetblue;
    width: 100%;
    height: 50%;
  }
  body {
      background-color: gainsboro;
      text-align: center;
      font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      width: 100%;
    }
  footer{
    font-weight: bold;
    font-size: 15px;
    background-color: cadetblue;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  table{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  th{
    color: white;
    background-color: cadetblue;
  }
  .fields{
    display: flex;
    justify-content: left;
  }